body {
  margin: 0;
  padding-top: 100px;
  font-family: sans-serif;
}
.navbar {
  min-height: 90px;
}
.navbar-default .navbar-nav > li > a {
  padding: 35px;
  font-size: 20px;
}
.error-message {
  text-align: center;
}
