@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin-ext');

body {
  margin: 0;
  padding-top: 60px;
  font-family: Raleway, sans-serif;
}
.navbar,
.navbar-default,
.navbar-inner{
  min-height: 60px;
  background: none;
  background-color: white;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav > li > a {
  padding: 20px;
  font-size: 16px;
}
.error-message {
  text-align: center;
}

.nav-logo {
  float: left !important;
  margin-top: -10px;
  width: 140px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
.row {
  margin-right: -30px;
  margin-left: -15px;
}
